.header {
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  justify-content: center;
}

.header__logo {
  height: 33px;
  width: 173px;
  margin: 45px 0 41px 0;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 0;
  }

  .header__logo {
    margin: 28px auto 0 27px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 320px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    padding-bottom: 32px;
    padding-right: 0;
  }
}
