.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  font-family: "Inter", sans-serif;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  padding: 36px;
  color: black;
  border-radius: 10px;
  position: relative;
  margin: 195px auto auto;
  box-sizing: border-box;
  min-width: 430px;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__profile-form,
.modal__add-form {
  display: flex;
  flex-direction: column;
}

.modal__heading {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
}

.modal__input-text {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 14px;
}

.modal__form-title,
.modal__input_type_title {
  margin: 54px 0 30px 0;
}

.modal__form-description,
.modal__input_type_url {
  margin-bottom: 47px;
}

.modal__edit-submit-btn,
.modal__add-submit-btn {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 125px 18px;
  text-align: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.modal__edit-submit-btn:hover,
.modal__add-submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-image {
  justify-content: center;
  align-items: center;
}

.modal__image_container {
  position: relative;
}

.modal__image_element {
  max-width: 75vw;
  max-height: 75vw;
}

@media screen and (max-width: 580px) {
  .modal__container {
    min-width: 282px;
    margin: 123px auto auto;
  }

  .modal__close {
    bottom: calc(100% + 26px);
    left: calc(100% + -26px);
    width: 26px;
    height: 26px;
  }

  .modal__form-title .modal__input_type_title {
    margin: 75px 0 30px 0;
  }

  .modal__form-description .modal__input_type_url {
    margin-bottom: 45px;
  }

  .modal__edit-submit-btn,
  .modal__add-submit-btn {
    font-size: 14px;
    line-height: 27px;
  }
}

@media screen and (max-width: 400px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
  }

  .modal__edit-submit-btn,
  .modal__add-submit-btn {
    padding: 14px 96px 15px;
  }

  .modal__form-title,
  .modal__input_type_title {
    margin: 76px 0 30px 0;
  }

  .modal__form-description,
  .modal__input_type_url {
    margin-bottom: 46px;
  }
}
